In [68]:
import pandas as pd
import numpy as np

In [ ]:
data_all = pd.read_csv('2015.csv')

In [62]:
selected = ['SCNTMNY1', 'SCNTMEL1','SCNTWRK1','SXORIENT','TRNSGNDR','EMTSUPRT', 'LSATISFY', 'ADPLEASR', 'ADSLEEP', 'ADENERGY', 'ADEAT1','ADFAIL','ADTHINK','MISTMNT','ADANXEV']
selected_data = data_all[selected]
data = selected_data.copy()

In [63]:
data['SCNTMNY1'].value_counts()

5.0    37535
4.0    11215
3.0    10500
1.0     6106
2.0     2840
8.0     1047
9.0      138
7.0      121
Name: SCNTMNY1, dtype: int64

In [73]:
values = {1: 'Always', 
          2: 'Usually',
          3: 'Sometimes',
          4: 'Rarely',
          5: 'Never',
          7: np.nan,
          8: np.nan,
          9: np.nan
         }

data['SCNTMNY1'] = data['SCNTMNY1'].replace(values)
data['SCNTMNY1'].value_counts()

Sometimes    59250
Always        6106
Usually       2840
Name: SCNTMNY1, dtype: int64

In [15]:
data['SCNTMEL1'].value_counts()

5.0    48822
4.0     8850
3.0     8807
1.0     4121
2.0     2442
9.0      124
7.0      118
8.0       76
Name: SCNTMEL1, dtype: int64

In [74]:
values = {1: 'Always', 
          2: 'Usually',
          3: 'Sometimes',
          4: 'Rarely',
          5: 'Never',
          7: np.nan,
          8: np.nan,
          9: np.nan
         }

data['SCNTMEL1'] = data['SCNTMEL1'].replace(values)
data['SCNTMEL1'].value_counts()

Never        48822
Rarely        8850
Sometimes     8807
Always        4121
Usually       2442
Name: SCNTMEL1, dtype: int64

In [14]:
data['SCNTWRK1'].value_counts()

40.0    11045
50.0     4490
45.0     2499
60.0     2426
30.0     1656
        ...
73.0        1
89.0        1
81.0        1
59.0        1
93.0        1
Name: SCNTWRK1, Length: 96, dtype: int64

In [76]:
values = {97 : np.nan,
          98 : np.nan,
          99 : np.nan}

data['SCNTWRK1'] = data['SCNTWRK1'].replace(values)
data['SCNTWRK1'].value_counts()

40.0    11045
50.0     4490
45.0     2499
60.0     2426
30.0     1656
        ...
73.0        1
89.0        1
81.0        1
59.0        1
93.0        1
Name: SCNTWRK1, Length: 93, dtype: int64

In [19]:
data['SXORIENT'].value_counts()

1.0    157199
9.0      2951
3.0      2265
2.0      2242
7.0      1759
4.0       581
Name: SXORIENT, dtype: int64

In [77]:
values = {1: 'Straight', 
          2: 'Lesbian or gay',
          3: 'Bisexual',
          4: 'Other',
          7: np.nan,
          9: np.nan
         }

data['SXORIENT'] = data['SXORIENT'].replace(values)
data['SXORIENT'].value_counts()

Straight          157199
Bisexual            2265
Lesbian or gay      2242
Other                581
Name: SXORIENT, dtype: int64

In [20]:
data['TRNSGNDR'].value_counts()

4.0    163685
9.0      1524
7.0       946
1.0       361
2.0       237
3.0       154
Name: TRNSGNDR, dtype: int64

In [79]:
values = {1: 'Yes, Transgender, male-to-female', 
          2: 'Yes, Transgender, female to male',
          3: 'Yes, Transgender, gender nonconforming',
          4: 'No',
          7: np.nan,
          9: np.nan
         }

data['TRNSGNDR'] = data['TRNSGNDR'].replace(values)
data['TRNSGNDR'].value_counts()

No                                        163685
Yes, Transgender, male-to-female             361
Yes, Transgender, female to male             237
Yes, Transgender, gender nonconforming       154
Name: TRNSGNDR, dtype: int64

In [21]:
data['EMTSUPRT'].value_counts()

1.0    10748
2.0     5632
3.0     2065
5.0      692
4.0      596
7.0      232
9.0       99
Name: EMTSUPRT, dtype: int64

In [80]:
values = {1: 'Always', 
          2: 'Usually',
          3: 'Sometimes',
          4: 'Rarely',
          5: 'Never',
          7: np.nan,
          9: np.nan
         }

data['EMTSUPRT'] = data['EMTSUPRT'].replace(values)
data['EMTSUPRT'].value_counts()

Always       10748
Usually       5632
Sometimes     2065
Never          692
Rarely         596
Name: EMTSUPRT, dtype: int64

In [22]:
data['LSATISFY'].value_counts()

2.0    9721
1.0    9066
3.0     827
4.0     224
7.0     133
9.0      81
Name: LSATISFY, dtype: int64

In [81]:
values = {1: 'Very satisfied', 
          2: 'Satisfied',
          3: 'Dissatisfied',
          4: 'Very dissatisfied',
          7: np.nan,
          9: np.nan
         }

data['LSATISFY'] = data['LSATISFY'].replace(values)
data['LSATISFY'].value_counts()

Satisfied            9721
Very satisfied       9066
Dissatisfied          827
Very dissatisfied     224
Name: LSATISFY, dtype: int64

In [23]:
data['ADPLEASR'].value_counts()

88.0    13663
2.0      1363
14.0     1148
1.0       825
3.0       635
77.0      594
7.0       465
4.0       444
5.0       438
10.0      344
6.0       140
99.0      119
8.0       111
12.0       95
9.0        37
13.0       17
11.0        7
Name: ADPLEASR, dtype: int64

In [82]:
values = {88: np.nan,
          99: np.nan,
          77: np.nan
         }

data['ADPLEASR'] = data['ADPLEASR'].replace(values)
data['ADPLEASR'].value_counts()

2.0     1363
14.0    1148
1.0      825
3.0      635
7.0      465
4.0      444
5.0      438
10.0     344
6.0      140
8.0      111
12.0      95
9.0       37
13.0      17
11.0       7
Name: ADPLEASR, dtype: int64

In [24]:
data['ADSLEEP'].value_counts()

88.0    10788
14.0     3192
2.0      1368
3.0       949
1.0       763
4.0       678
5.0       615
7.0       590
10.0      477
6.0       273
77.0      256
8.0       175
12.0      140
99.0       58
13.0       50
9.0        36
11.0       11
Name: ADSLEEP, dtype: int64

In [83]:
values = {88: np.nan,
          99: np.nan,
          77: np.nan
         }

data['ADSLEEP'] = data['ADSLEEP'].replace(values)
data['ADSLEEP'].value_counts()

14.0    3192
2.0     1368
3.0      949
1.0      763
4.0      678
5.0      615
7.0      590
10.0     477
6.0      273
8.0      175
12.0     140
13.0      50
9.0       36
11.0      11
Name: ADSLEEP, dtype: int64

In [26]:
data['ADENERGY'].value_counts()

88.0    7776
14.0    3522
2.0     2383
3.0     1324
1.0     1190
5.0      873
4.0      853
7.0      775
10.0     586
77.0     339
6.0      289
8.0      196
12.0     151
99.0      66
13.0      39
9.0       38
11.0      13
Name: ADENERGY, dtype: int64

In [84]:
values = {88: np.nan,
          99: np.nan,
          77: np.nan
         }

data['ADENERGY'] = data['ADENERGY'].replace(values)
data['ADENERGY'].value_counts()

14.0    3522
2.0     2383
3.0     1324
1.0     1190
5.0      873
4.0      853
7.0      775
10.0     586
6.0      289
8.0      196
12.0     151
13.0      39
9.0       38
11.0      13
Name: ADENERGY, dtype: int64

In [85]:
data['ADEAT1'].value_counts()

88.0    12998
14.0     1832
2.0      1285
1.0       821
3.0       803
5.0       571
4.0       511
7.0       497
10.0      332
77.0      302
6.0       194
8.0       103
99.0       58
12.0       57
9.0        18
13.0       14
11.0        6
Name: ADEAT1, dtype: int64

In [86]:
values = {88: np.nan,
          99: np.nan,
          77: np.nan
         }

data['ADEAT1'] = data['ADEAT1'].replace(values)
data['ADEAT1'].value_counts()

14.0    1832
2.0     1285
1.0      821
3.0      803
5.0      571
4.0      511
7.0      497
10.0     332
6.0      194
8.0      103
12.0      57
9.0       18
13.0      14
11.0       6
Name: ADEAT1, dtype: int64

In [ ]:
data['ADFAIL'].value_counts()

In [87]:
values = {88: np.nan,
          99: np.nan,
          77: np.nan
         }

data['ADFAIL'] = data['ADFAIL'].replace(values)
data['ADFAIL'].value_counts()

14.0    974
2.0     637
1.0     565
3.0     311
7.0     225
5.0     216
4.0     185
10.0    170
8.0      72
6.0      70
12.0     31
9.0       9
11.0      7
13.0      6
Name: ADFAIL, dtype: int64

In [ ]:
data['ADTHINK'].value_counts()

In [88]:
values = {88: np.nan,
          99: np.nan,
          77: np.nan
         }

data['ADTHINK'] = data['ADTHINK'].replace(values)
data['ADTHINK'].value_counts()

14.0    850
2.0     572
1.0     292
3.0     274
7.0     252
5.0     229
4.0     215
10.0    126
6.0      70
8.0      56
12.0     38
9.0      13
13.0      8
11.0      3
Name: ADTHINK, dtype: int64

In [ ]:
data['MISTMNT'].value_counts()

In [90]:
values = {1: 1,
          2 : 0,
          7: np.nan,
          9: np.nan
         }

data['MISTMNT'] = data['MISTMNT'].replace(values)
data['MISTMNT'].value_counts()

0.0    17273
1.0     2989
Name: MISTMNT, dtype: int64

In [27]:
data['ADANXEV'].value_counts()

2.0    16919
1.0     3294
7.0       91
9.0       38
Name: ADANXEV, dtype: int64

In [92]:
values = {1: 1,
          2 : 0,
          7: np.nan,
          9: np.nan
         }

data['ADANXEV'] = data['ADANXEV'].replace(values)
data['ADANXEV'].value_counts()

0.0    16919
1.0     3294
Name: ADANXEV, dtype: int64