codebook : https://www.cdc.gov/brfss/annual_data/2015/pdf/codebook15_llcp.pdf

In [1]:
import pandas as pd
import numpy as np


brfss = pd.read_csv('2015.csv')

clean = brfss.copy()

In [12]:
variables = ['_STATE','IMONTH','NUMADULT','CCLGHOUS','GENHLTH','PHYSHLTH','CHECKUP1',
             'BPHIGH4','DIABETE3','HLTHPLN1','MEDCOST','TOLDHI2','CVDINFR4','ASTHMA3','CHCSCNCR',
           'CHCOCNCR','ADDEPEV2','VETERAN3','DECIDE','DIFFALON','SMOKE100','SEX','MARITAL','EDUCA',
             'EMPLOY1','CHILDREN','INCOME2','WEIGHT2','ALCDAY5','FRUIT1',
             "FVBEANS", "FVGREEN", "FVORANG", "VEGETAB1", 
             "EXERANY2", "EXEROFT1", "STRENGTH", "LMTJOIN3", "ARTHDIS2", 
            "JOINPAIN", "PREDIAB1", "CAREGIV1", "CRGVLNG1", "CRGVHRS1", "CIMEMLOS", "DRADVISE",
             'SCNTMNY1', 'SCNTMEL1','SCNTWRK1','SXORIENT','TRNSGNDR','EMTSUPRT', 'LSATISFY', 
             'ADPLEASR', 'ADSLEEP', 'ADENERGY', 'ADEAT1','ADFAIL','ADTHINK','MISTMNT','ADANXEV',
            '_LMTSCL1', '_LMTWRK1', '_LMTACT1', '_PASTAE1',
             '_PAREC1', '_PA300R2', '_PA150R2', '_PAINDX1', '_PACAT1', 'PA1MIN_', '_TOTINDA', 
             '_VEG23', '_VEGESUM', '_FRTLT1', '_VEGLT1','_FRUTSUM', '_RFDRHV5', '_DRNKWEK', 
             '_RFBING5', '_SMOKER3', '_INCOMG', '_BMI5CAT', '_AGE80', '_DRDXAR1', 
             '_RFHYPE5', '_RFHLTH', '_PASTRNG']


data = brfss.loc[:, variables]
clean = data.copy()
clean.head()

,_STATE,IMONTH,NUMADULT,CCLGHOUS,GENHLTH,PHYSHLTH,CHECKUP1,BPHIGH4,DIABETE3,HLTHPLN1,...,_DRNKWEK,_RFBING5,_SMOKER3,_INCOMG,_BMI5CAT,_AGE80,_DRDXAR1,_RFHYPE5,_RFHLTH,_PASTRNG
0,1.0,b'01',3.0,NaN,5.0,15.0,1.0,1.0,3.0,1.0,...,5.397605e-79,1.0,3.0,2.0,4.0,63.0,1.0,2.0,2.0,2.0
1,1.0,b'01',1.0,NaN,3.0,88.0,4.0,3.0,3.0,2.0,...,5.397605e-79,1.0,1.0,1.0,3.0,52.0,2.0,1.0,1.0,2.0
2,1.0,b'02',2.0,NaN,4.0,15.0,1.0,3.0,3.0,1.0,...,9.990000e+04,9.0,9.0,9.0,2.0,71.0,1.0,1.0,2.0,9.0
3,1.0,b'01',3.0,NaN,5.0,30.0,1.0,1.0,3.0,1.0,...,5.397605e-79,1.0,4.0,5.0,3.0,63.0,1.0,2.0,2.0,2.0
4,1.0,b'01',2.0,NaN,5.0,20.0,1.0,3.0,3.0,1.0,...,5.397605e-79,1.0,4.0,9.0,2.0,61.0,1.0,1.0,2.0,2.0

In [6]:
# cleaning pages 1-34

value_map = {1.0: 'Alabama',2.0: 'Alaska', 4.0: 'Arizona', 5.0: 'Arkansas', 6.0: 'California', 8.0: 'Colorado', 
             9.0: 'Connecticut', 10.0: 'Delaware', 11.0: 'District of Columbia', 12.0: 'Florida', 13.0: 'Georgia',
             15.0: 'Hawaii', 16.0: 'Idaho', 17.0: 'Illinois', 18.0: 'Indiana', 19.0: 'Iowa', 20.0: 'Kansas',
             21.0: 'Kentucky',22.0: 'Louisiana',23.0: 'Maine' ,24.0: 'Maryland',25.0: 'Massachusetts',
             26.0: 'Michigan' ,27.0: 'Minnesota',28.0: 'Mississippi',29.0: 'Missouri',30.0: 'Montana',
             31.0: 'Nebraska' ,32.0: 'Nevada'  ,33.0: 'New Hampshire' ,34.0: 'New Jersey' ,35.0: 'New Mexico',
             36.0: 'New York' ,37.0: 'North Carolina' ,38.0: 'North Dakota',39.0: 'Ohio'  ,40.0: 'Oklahoma',
             41.0: 'Oregon',42.0: 'Pennsylvania',44.0: 'Rhode Island',45.0: 'South Carolina',46.0: 'South Dakota',
             47.0: 'Tennessee',48.0: 'Texas',49.0: 'Utah',50.0: 'Vermont',51.0: 'Virginia',53.0: 'Washington',
             54.0: 'West Virginia',55.0: 'Wisconsin',56.0: 'Wyoming',66.0: 'Guam',72.0: 'Puerto Rico'}
clean['_STATE'] = clean['_STATE'].replace(value_map)



value_map = {b'01': 'January', b'02': 'February', b'03': 'March', b'04': 'April', b'05':'May',b'06':'June',
             b'07':'July',b'08':'August',b'09': 'Spetember', b'10':'Ocetober',b'11':'November',b'12':'December'}

clean['IMONTH'] = clean['IMONTH'].replace(value_map)

clean.loc[(clean.NUMADULT == 'BLANK'),'NUMADULT']= pd.NA

value_map = {1.0: 'Yes', 'BLANK':'No'}
clean['CCLGHOUS'] = clean['CCLGHOUS'].replace(value_map)

value_map = {1.0: 'Excellent', 2.0: 'Very Good', 3.0: 'Good', 4.0: 'Fair', 5.0:'Poor',6.0: pd.NA,
             7.0: pd.NA ,8.0: pd.NA}
clean['GENHLTH'] = clean['GENHLTH'].replace(value_map)

clean.loc[(clean.PHYSHLTH == 77),'PHYSHLTH']= pd.NA
clean.loc[(clean.PHYSHLTH == 99),'PHYSHLTH']= pd.NA
clean.loc[(clean.PHYSHLTH == 88),'PHYSHLTH']=0

value_map = {1.0: 'One year', 2.0: 'Two years', 3.0: 'Five years', 4.0: 'over five', 
             7.0:pd.NA,8.0:'Never',9.0: pd.NA, 'BLANK':pd.NA}

clean['CHECKUP1'] = clean['CHECKUP1'].replace(value_map)


value_map = {1.0: 'Yes', 2.0: 'NO', 3.0:'NO', 4.0:'NO',7.0:pd.NA, 9.0: pd.NA, 'BLANK':pd.NA}

clean['BPHIGH4'] = clean['BPHIGH4'].replace(value_map)

value_map = {1.0: 'Yes', 2.0: 'NO', 3.0:'NO', 4.0:'NO',7.0:pd.NA, 9.0: pd.NA, 'BLANK':pd.NA}

clean['DIABETE3'] = clean['DIABETE3'].replace(value_map)

var_list = ['HLTHPLN1','MEDCOST','TOLDHI2','CVDINFR4','ASTHMA3','CHCSCNCR',
           'CHCOCNCR','ADDEPEV2','VETERAN3','DECIDE','DIFFALON','SMOKE100']

for var in var_list:
    
    value_map = {1.0: 1, 2.0: 0, 7.0:pd.NA, 9.0: pd.NA, 'BLANK':pd.NA}

    clean[var] = clean[var].replace(value_map)
    

value_map = {1.0: 'Male', 2.0: 'Female'}
clean['SEX'] = clean['SEX'].replace(value_map)

value_map = {1.0: 'Married', 2.0: 'Divorces', 3.0: 'Widowed', 4.0: 'Separated', 5.0:'Never Married',6.0:'Unmarried Couple',
             9.0: 'Refused'}

clean['MARITAL'] = clean['MARITAL'].replace(value_map)

value_map = {1.0: 'None', 2.0: 'primary', 3.0: 'some secondary', 4.0: 'secondary', 5.0:'some college',6.0:'college',
             9.0: 'Refused'}

clean['EDUCA'] = clean['EDUCA'].replace(value_map)

value_map = {1.0: 'Employed', 2.0: 'Self-Employed', 3.0: '1 year out of work', 4.0: 'less than 1 year out of work', 5.0:'homemaker',6.0:'student',
             7.0:'retired',8.0:'unable to work',9.0: pd.NA}

clean['EMPLOY1'] = clean['EMPLOY1'].replace(value_map)

clean.loc[(clean.CHILDREN == 'BLANK'),'CHILDREN']= pd.NA
clean.loc[(clean.CHILDREN == 99),'CHILDREN']= pd.NA
clean.loc[(clean.CHILDREN == 88),'CHILDREN']=0

value_map = {1.0: '<10,000', 2.0: '<15,000', 3.0: '<20,000', 4.0: '<25,000', 5.0:'<35,000',6.0:'<50,000',
             7.0:'<75,000',8.0:'75,000+',77.0: pd.NA, 99.0:pd.NA,'BLANK':pd.NA}

clean['INCOME2'] = clean['INCOME2'].replace(value_map)

clean.loc[(clean.WEIGHT2 == 'BLANK'),'WEIGHT2']= pd.NA
clean.loc[(clean.WEIGHT2 == 7777),'WEIGHT2']= pd.NA
clean.loc[(clean.WEIGHT2 == 9999),'WEIGHT2']=pd.NA

clean['WEIGHT2'] = np.where((clean['WEIGHT2'] >= 9000), 
                               np.mod(clean['WEIGHT2'], 9000)*2.2, clean['WEIGHT2'])


clean.loc[(clean.ALCDAY5 == 'BLANK'),'ALCDAY5']= pd.NA
clean.loc[(clean.ALCDAY5 == 777),'ALCDAY5']= pd.NA
clean.loc[(clean.ALCDAY5 == 999),'ALCDAY5']=pd.NA
clean.loc[(clean.ALCDAY5 == 888),'ALCDAY5']=0

#making it all within the last month

clean['ALCDAY5'] = np.where((clean['ALCDAY5'] <= 200), 
                               np.mod(clean['ALCDAY5'], 100)*4, clean['ALCDAY5'])
clean['ALCDAY5'] = np.where((clean['ALCDAY5'] >= 200), 
                               np.mod(clean['ALCDAY5'], 200), clean['ALCDAY5'])


clean.loc[(clean.FRUIT1 == 'BLANK'),'FRUIT1']= pd.NA
clean.loc[(clean.FRUIT1 == 777),'FRUIT1']= pd.NA
clean.loc[(clean.FRUIT1 == 999),'FRUIT1']=pd.NA
clean.loc[(clean.FRUIT1 == 555),'FRUIT1']=0
clean.loc[(clean.FRUIT1 == 300),'FRUIT1']=0

#making it all within the last month
clean['FRUIT1'] = np.where((clean['FRUIT1'] <= 200), 
                               np.mod(clean['FRUIT1'], 100)*30, clean['FRUIT1'])
clean['FRUIT1'] = np.where((clean['FRUIT1'] >= 200)&(clean['FRUIT1'] < 300), 
                               np.mod(clean['FRUIT1'], 200)*4, clean['FRUIT1'])
clean['FRUIT1'] = np.where((clean['FRUIT1'] > 300)&(clean['FRUIT1'] < 400), 
                               np.mod(clean['FRUIT1'], 300), clean['FRUIT1'])

In [7]:
# pages 35-69

#Numeric with 100 daily 200 weekly 300 monthly
numlist = ["FVBEANS", "FVGREEN", "FVORANG", "VEGETAB1"]
for var in numlist:
    clean[var] = np.where((data[var] >= 100) & (data[var] <= 199), 
                               np.mod(data[var], 100)*30, clean[var])
    clean[var] = np.where((data[var] >= 200) & (data[var] <= 299), 
                               np.mod(data[var], 200)*4, clean[var])
    clean[var] = np.where((data[var] >= 300) & (data[var] <= 399), 
                               np.mod(data[var], 300), clean[var])
    clean[var] = np.where(data[var] == 555, 0, clean[var])
    clean[var] = np.where(data[var] == 777, np.nan, clean[var])
    clean[var] = np.where(data[var] == 999, np.nan, clean[var])

#Numeric but 100+ is weekly 200+ is monthly
numlist2 = ["EXEROFT1", "STRENGTH"]
for var in numlist2:
    clean[var] = np.where((data[var] >= 100) & (data[var] <= 199), 
                               np.mod(data[var], 100)*4, clean[var])
    clean[var] = np.where((data[var] >= 200) & (data[var] <= 299), 
                               np.mod(data[var], 200), clean[var])
    clean[var] = np.where(data[var] == 777, np.nan, clean[var])
    clean[var] = np.where(data[var] == 888, 0, clean[var])
    clean[var] = np.where(data[var] == 999, np.nan, clean[var])
    
#Binary vars
binarylist = ["EXERANY2", "LMTJOIN3", "ARTHDIS2", "CIMEMLOS", "DRADVISE"]
for var in binarylist:
    clean[var] = np.where(data[var] == 2, 0, clean[var])
    clean[var] = np.where(data[var] == 7, np.nan, clean[var])
    clean[var] = np.where(data[var] == 9, np.nan, clean[var])
    
#1-10 vars
list1_10 = ["JOINPAIN"]
for var in list1_10:
    clean[var] = np.where(data[var] == 7, np.nan, clean[var])
    clean[var] = np.where(data[var] == 9, np.nan, clean[var])
    
#yes, yes during pregnancy, and no. Convert to binary
almost_binarylist = ["PREDIAB1"]
for var in almost_binarylist:
    clean[var] = np.where(data[var] == 2, 1, clean[var])
    clean[var] = np.where(data[var] == 3, 0, clean[var])
    clean[var] = np.where(data[var] == 7, np.nan, clean[var])
    clean[var] = np.where(data[var] == 9, np.nan, clean[var])
   

almost_binarylist2 = ["CAREGIV1"]
for var in almost_binarylist2:
    clean[var] = np.where(data[var] == 7, np.nan, clean[var])
    clean[var] = np.where(data[var] == 8, 1, clean[var]) #Died
    clean[var] = np.where(data[var] == 9, np.nan, clean[var])
    
CRGVLNG1_map = {1.0: '<30 days', 2.0: '1-6 months', 3.0: '0.5-2 years', 4.0: '2-5 years', 5.0: '5+ years'}
clean["CRGVLNG1"] = clean["CRGVLNG1"].replace(CRGVLNG1_map)
clean["CRGVLNG1"] = np.where(data["CRGVLNG1"] == 7, np.nan, clean["CRGVLNG1"])
clean["CRGVLNG1"] = np.where(data["CRGVLNG1"] == 9, np.nan, clean["CRGVLNG1"])

CRGVHRS1_map = {1.0: '0-8 hours/week', 2.0: '9-19 hours/week', 3.0: '20-39 hours/week', 4.0: '40+ hours/week'}
clean["CRGVHRS1"] = clean["CRGVHRS1"].replace(CRGVHRS1_map)
clean["CRGVHRS1"] = np.where(data["CRGVHRS1"] == 7, np.nan, clean["CRGVHRS1"])
clean["CRGVHRS1"] = np.where(data["CRGVHRS1"] == 9, np.nan, clean["CRGVHRS1"])

In [11]:
#70-104

values = {1: 'Always', 
          2: 'Usually',
          3: 'Sometimes',
          4: 'Rarely',
          5: 'Never',
          7: np.nan,
          8: np.nan,
          9: np.nan
         }

clean['SCNTMNY1'] = clean['SCNTMNY1'].replace(values)

values = {1: 'Always', 
          2: 'Usually',
          3: 'Sometimes',
          4: 'Rarely',
          5: 'Never',
          7: np.nan,
          8: np.nan,
          9: np.nan
         }

clean['SCNTMEL1'] = clean['SCNTMEL1'].replace(values)

values = {97 : np.nan,
          98 : np.nan,
          99 : np.nan}

clean['SCNTWRK1'] = clean['SCNTWRK1'].replace(values)

values = {1: 'Straight', 
          2: 'Lesbian or gay',
          3: 'Bisexual',
          4: 'Other',
          7: np.nan,
          9: np.nan
         }

clean['SXORIENT'] = clean['SXORIENT'].replace(values)

values = {1: 'Yes, Transgender, male-to-female', 
          2: 'Yes, Transgender, female to male',
          3: 'Yes, Transgender, gender nonconforming',
          4: 'No',
          7: np.nan,
          9: np.nan
         }

clean['TRNSGNDR'] = clean['TRNSGNDR'].replace(values)

values = {1: 'Always', 
          2: 'Usually',
          3: 'Sometimes',
          4: 'Rarely',
          5: 'Never',
          7: np.nan,
          9: np.nan
         }

clean['EMTSUPRT'] = clean['EMTSUPRT'].replace(values)

values = {1: 'Very satisfied', 
          2: 'Satisfied',
          3: 'Dissatisfied',
          4: 'Very dissatisfied',
          7: np.nan,
          9: np.nan
         }

clean['LSATISFY'] = clean['LSATISFY'].replace(values)

values = {88: np.nan,
          99: np.nan,
          77: np.nan
         }

clean['ADPLEASR'] = clean['ADPLEASR'].replace(values)

values = {88: np.nan,
          99: np.nan,
          77: np.nan
         }

clean['ADSLEEP'] = clean['ADSLEEP'].replace(values)

values = {88: np.nan,
          99: np.nan,
          77: np.nan
         }

clean['ADENERGY'] = clean['ADENERGY'].replace(values)

values = {88: np.nan,
          99: np.nan,
          77: np.nan
         }

clean['ADEAT1'] = clean['ADEAT1'].replace(values)

values = {88: np.nan,
          99: np.nan,
          77: np.nan
         }

clean['ADFAIL'] = clean['ADFAIL'].replace(values)

values = {88: np.nan,
          99: np.nan,
          77: np.nan
         }

clean['ADTHINK'] = clean['ADTHINK'].replace(values)

values = {1: 1,
          2 : 0,
          7: np.nan,
          9: np.nan
         }

clean['MISTMNT'] = clean['MISTMNT'].replace(values)

values = {1: 1,
          2 : 0,
          7: np.nan,
          9: np.nan
         }

clean['ADANXEV'] = clean['ADANXEV'].replace(values)

In [13]:
#104-134

value_map = {1.0: 'Told have arthritis and have limited usual activities', 
             2.0: 'Told have arthritis and no limited usual activities', 
             3.0: 'Not told they have arthritis', 
             9.0: 'Don ́t know, refused or missing usual activities limited'}

clean['_LMTACT1'] = clean['_LMTACT1'].replace(value_map)


limited_social = {1.0: 'Told have arthritis and social activities limited a lot', 
             2.0: 'Told have arthritis and social activities limited a little', 
             3.0: 'Told have arthritis and social activities not limited',
             4.0: 'Not told they have arthritis',
             9.0: 'Don ́t know, refused or missing usual activities limited'}

clean['_LMTSCL1'] = clean['_LMTSCL1'].replace(limited_social)


limited_work = {1.0: 'Told have arthritis and have limited work', 
             2.0: 'Told have arthritis and no limited work', 
             3.0: 'Not told they have arthritis', 
             9.0: 'Don ́t know, refused or missing work limited'}

work_out = {1.0: '150+ minutes (or vigorous equivalent minutes) of physical activity', 
             2.0: '1-149 minutes (or vigorous equivalent minutes) of physical', 
             3.0: '0 minutes', 
             9.0: 'Don ́t know, refused or missing work limited'}

clean['_PA150R2'] = clean['_PA150R2'].replace(limited_work)


clean['_LMTWRK1'] = clean['_LMTWRK1'].replace(limited_work)


aerobic_strength = {1.0: 'Met Both Guidelines', 
             2.0: 'Did Not Meet Both Guidelines', 
             9.0: 'Don ́t know, refused or missing usual activities limited'}

clean['_PASTAE1'] = clean['_PASTAE1'].replace(aerobic_strength)


strength_dos = {1.0: 'Met Both Guidelines', 
             2.0: 'Met Aerobic Guidelines Only',
             3.0: ' Met Strenghtening Guidelines Only',
             4.0: 'Did not meet Either Guideline',
             9.0: 'Don ́t know, refused or missing usual activities limited'}

clean['_PAREC1'] = clean['_PAREC1'].replace(strength_dos)


phys_act = {1.0: 'Highly Active', 
             2.0: 'Active', 
             3.0: 'Insufficiently Active',
             4.0: 'Inactive',
             9.0: 'Don ́t know, refused or missing'}

clean['_PACAT1'] = clean['_PACAT1'].replace(phys_act)

binarylist = ["_PASTRNG", "_PAINDX1", "_PASTRNG", "_TOTINDA", "_VEGLT1", "_FRTLT1", "_RFDRHV5", "_RFBING5", "_RFHYPE5", "_RFHLTH", "_DRDXAR1"]
for var in binarylist:
    clean[var] = np.where(clean[var] == 2, 0, clean[var])
    clean[var] = np.where(clean[var] == 7, np.nan, clean[var])
    clean[var] = np.where(clean[var] == 9, np.nan, clean[var])
    
weight = {1.0: 'under weight',
               2.0: 'normal weight',
               3.0: 'overweight',
               4.0: 'obese'}

clean['_BMI5CAT'] = clean['_BMI5CAT'].replace(weight)

In [15]:
# replacing 88 with 0 because 88 means none (codebook)
brfss.loc[(brfss.MENTHLTH == 88),'MENTHLTH']=0

# replacing 77 and 99 with NA (codebook)
brfss.loc[(brfss.MENTHLTH == 77),'MENTHLTH']= pd.NA
brfss.loc[(brfss.MENTHLTH == 99),'MENTHLTH']= pd.NA

brfss['MENTHLTH']

# finding 2 standard deviations above the mean
brfss['MENTHLTH'].mean() + (2*(brfss['MENTHLTH'].std()))

# create new column with the people above 2 sd above the mean calssified as poor mental health,
# and all others classified as not
clean['POOR_MENTHLTH'] = brfss['MENTHLTH']

clean.loc[(clean.POOR_MENTHLTH >= 18.0),'POOR_MENTHLTH']=1

clean.loc[(clean.POOR_MENTHLTH <= 18.5),'POOR_MENTHLTH']=0

clean['POOR_MENTHLTH'].sum()

len(clean['POOR_MENTHLTH'])

32051/441456

0.07260293211554493